{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>{% block title %}SmartBlocks{% endblock %}</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static 'webapp/css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="{% static 'webapp/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

	<nav class="light-blue darken-4" role="navigation">
	<div class="nav-wrapper container"><a id="logo-container" href="{% url 'webapp:index' %}" class="brand-logo">SmartBlocks</a>
	<ul class="right hide-on-med-and-down">
		<!-- Dropdown Trigger -->
		<li><a href="{% url 'webapp:mySmartBlocks' %}"><i class="large material-icons left ">dashboard</i><span>DashBoard</span></a></li>
		<li><a href="{% url 'webapp:searchOffer' %}"><i class="large material-icons left">search</i><span>Search</span></a></li>
		<li><a class='dropdown-trigger' data-target='dropdown1'><i class="large material-icons left">description</i><span>Contracts</span></a></li>
		{% if user.is_authenticated %}
		<li><a class='dropdown-trigger' data-target='dropdown2'><i class="large material-icons left">account_circle</i><span>Account</span></a></li>
		{% else %}
		</li>Not logged in</li>
		{% endif %}
		<!-- Dropdown Structure -->
		<ul style="min-width:150px" id='dropdown1' class='dropdown-content'>
			<li><a href="{% url 'webapp:offers' %}">View Offers</a></li>
			<li><a href="{% url 'webapp:createOffer' %}">Create Offer</a></li>
            <li><a href="{% url 'webapp:createAsset' %}">Create Asset</a></li>
			<li><a href="{% url 'webapp:myOffers' %}">My Offers</a></li>        
		</ul>          
		<ul style="min-width:200px;" id='dropdown2' class='dropdown-content'>
			<li><a href="{% url 'webapp:offers' %}"><p>Hello, {{ request.user.first_name }}<br>{{ request.user }}</p></a></li>
			<li class="divider" tabindex="-1"></li>
			<li><a href="{% url 'webapp:myOffers' %}">My Offers</a></li>
            <li><a href="{% url 'webapp:myAssets' %}">My Assets</a></li>
            <li><a href="{% url 'webapp:logout_view' %}">Sign Out</a></li>
			<li><a href="{% url 'webapp:accountSetting' %}">Settings</a></li>
		</ul>     

	
	</ul>

	<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	</div>
	</nav>
	<ul class="sidenav " id="nav-mobile">
		<li class="no-padding">
			<li class="light-blue darken-4" style="height:64px;" ></li>
			<li><a href="{% url 'webapp:mySmartBlocks' %}"><i class="small material-icons left ">dashboard</i><span>DashBoard</span></a></li>
			<li><a href="{% url 'webapp:searchOffer' %}"><i class="small material-icons left">search</i><span>Search</span></a></li>
			<ul class="collapsible collapsible-accordion">
				<li class="bold">
					<a class="collapsible-header" style="padding:0 32px;"><i class="large material-icons left">description</i>Contracts</a>
					<div class="collapsible-body">
						<ul>
							<li><a href="{% url 'webapp:offers' %}">View Offers</a></li>
							<li><a href="{% url 'webapp:createOffer' %}">Create Offer</a></li>
                            <li><a href="{% url 'webapp:createAsset' %}">Create Asset</a></li>
							<li><a href="{% url 'webapp:myOffers' %}">My Offers</a></li>
                            <li><a href="{% url 'webapp:myAssets' %}">My Assets</a></li>
							<li><a href="{% url 'webapp:searchOffer' %}">Search for Offers</a></li>
							<li class="divider" tabindex="-1"></li>
						</ul>     
					</div>
				</li>
			</ul>
		</li>
		{% if user.is_authenticated %}
		<li>
			<ul class="collapsible collapsible-accordion">
				<li class="bold">
					<a class="collapsible-header" style="padding:0 32px;"><i class="large material-icons left">account_circle</i>Account</a>
					<div class="collapsible-body">
						<ul>
							<li><a href="{% url 'webapp:myOffers' %}">My Offers</a></li>
                            <li><a href="{% url 'webapp:myAssets' %}">My Assets</a></li>
			                <li><a href="{% url 'webapp:logout_view' %}">Sign Out</a></li>
							<li><a href="{% url 'webapp:accountSetting' %}">Settings</a></li>
							<li class="divider" tabindex="-1"></li>
						</ul>     
					</div>
				</li>
			</ul>		
		</li>
		{% else %}
		</li>Not logged in</li>
		{% endif %}
	</ul>


	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<br><br>
			{% block header %}
			{% endblock %}
			<br><br>
		</div>
	</div>

	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{% static 'webapp/js/materialize.js'%}"></script>
	<script src="{% static 'webapp/js/init.js'%}"></script>
	<script>
		$(document).ready(function(){
			$('.dropdown-trigger').dropdown({coverTrigger : false});
		});      
	</script>
	<div class="container content">
		{% block content %}
		{% endblock %}
        {% if messages %}
        <script>
        {% for message in messages %}
        {% autoescape off%}
        M.toast({html: '{{ message }}'});
        {% endautoescape %}
        {% endfor %}
        </script>
        {% endif %}
	</div>

	<footer class="page-footer light-blue darken-4">

	</footer>
</body>
</html>
