{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}
{% block header %}
      <h1 class="header center light-blue-text text-darken-4">Change Passwords</h1>
{% endblock %}
{% block breadcrumbs %}
	<div class="container style="margin-top: 5px">
		<nav class="transparentBG z-depth-0 ">
			<div class="nav-wrapper ">
				<div class="col s12 ">
					<a href="{% url 'webapp:dashboard' %}" class="breadcrumb"> <i class="material-icons">home</i></a>
					<a href="{% url 'webapp:settings' %}" class="breadcrumb">Settings</a>
					<a href="#!" class="breadcrumb">Change Password</a>
				</div>
			</div>
		</nav>
	</div>
{% endblock %}
{% block content %}
<form method="post">
  <div class="container">
{% csrf_token %}
{{ form }}
    <center>
   <button class="btn waves-effect waves-light light-blue darken-4" type="submit">Change
    <i class="material-icons right">send</i>
  </button>
  <br>
</div>
</form>
{% endblock %}