{% extends 'base.html' %}

{% block title %}Create Offer{% endblock %}
{% block header %}
      <h1 class="header center light-blue-text text-darken-4">Create Offer</h1>
{% endblock %}

{% block content %}
<form method="post">
  <div class="container">
{% csrf_token %}
{% for field in form %}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    <div class="input-field" id="{{field.auto_id}}_wrapper">  
        {{ field }}
        {{ field.label_tag }}
        <span class="helper-text" data-error="wrong" data-success="right">{{field.errors}}<span>
    </div>
{% endfor %}
    <center>
   <button class="btn waves-effect waves-light light-blue darken-4" type="submit">Create Offer
    <i class="material-icons right">send</i>
  </button>
</div>

<script>
document.getElementById("id_contract_type").onchange = function(){
    document.getElementById("id_stock_wrapper").hidden = (document.getElementById("id_contract_type").value == 'Buy');
};
</script>

</form>
{% endblock %}
