{% extends 'base.html' %}

{% block title %}Create Asset{% endblock %}
{% block header %}
      <h1 class="header center light-blue-text text-darken-4">New Asset</h1>
{% endblock %}

{% block content %}
<form method="post">
  <div class="container">
{% csrf_token %}
{% for field in form %}
    <div class="fieldWrapper">  
        {{field.errors}}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
    <center>
   <button class="btn waves-effect waves-light light-blue darken-4" type="submit">Create Asset
    <i class="material-icons right">send</i>
  </button>
</div>
</form>
{% endblock %}
