{% extends 'base.html' %}

{% block title %}Offer{% endblock %}
{% block header %}
      <h1 class="header center blue-text">Offer to {{offer.contract_type}} Contract {{ offer.id }}</h1>
{% endblock %}

{% block content %}
{% if offer.contract_type == 'Buy' %}
Buyer: {{ offer.buyer }}
{% else %}
Seller: {{ offer.seller }}
{% endif %}
<br>
Asset Name: {{ offer.asset_name }} <br>
Quantity: {{ offer.quantity }} {{ offer.unit }} <br>
Price {{ offer.price }} {{ offer.currency }} <br>
Shipping location: {{offer.location}} <br>
Required completion date: {{offer.completion_date}} <br></br>
<a class="btn" href="{% url 'webapp:sign' offer.id %}">Sign Contract</a><br><br> 
<a class="btn" href="{% url 'webapp:offers' %}">Back to all offers</a><br>
{% endblock %}
