{% extends 'base.html' %}

{% block title %}My Offers{% endblock %}
{% block header %}
      <h1 class="header center blue-text">My Offers</h1>
{% endblock %}

{% block content %}
<h3>Offers to buy:</h3><br>
{% if buy_offers.first is not None %}
{% for offer in buy_offers %}
{{ offer.asset_name }} | {{ offer.completion_condition }} | Unit: {{ offer.unit }} | Currency: {{ offer.currency }}  
<a class="btn" href="{% url 'webapp:changeOffer' offer.id %}">Edit Offer</a>

<br>
{% endfor %}
{% else %}
You have no active buy offers.
{% endif %}
<br>
<h3>Offers to sell:</h3><br>
{% if sell_offers.first is not None %}
{% for offer in sell_offers %}
{{ offer.asset_name }} | {{ offer.completion_condition }} | Unit: {{ offer.unit }} | Currency: {{ offer.currency }} 
<a class="btn" href="{% url 'webapp:changeOffer' offer.id %}">Edit Offer</a>
<br>
{% endfor %}
{% else %}
You have no active sell offers.
{% endif %}
<br>
<h3>Completed offers:</h3><br>
{% if completed_offers.first is not None %}
{% for offer in completed_offers %}
{{ offer.asset_name }} | {{ offer.quantity }} {{ offer.unit }} | {{ offer.price }} {{ offer.currency }} | Buyer: {{offer.buyer}} | Seller: {{offer.seller}}
{% endfor %}
{% else %}
You have no completed offers.
{% endif %}
{% endblock %}
