{% extends 'base.html' %}

{% block title %}View Offers{% endblock %}
{% block header %}
      <h1 class="header center blue-text">View Offers</h1>
{% endblock %}

{% block content %}
<h3>Offers to buy:</h3><br>
{% if buy_offers.first is not None %}
{% for offer in buy_offers %}
{{ offer.asset_name }} | {{ offer.quantity }} {{ offer.unit }} | {{ offer.price }} {{ offer.currency }} <a class="btn" href="{% url 'webapp:details' offer.id %}">More details</a><br>
{% endfor %}
{% else %}
There are no buy offers at this time.
{% endif %}
<br>
<h3>Offers to sell:</h3><br>
{% if sell_offers.first is not None %}
{% for offer in sell_offers %}
{{ offer.asset_name }} | {{ offer.quantity }} {{ offer.unit }} | {{ offer.price }} {{ offer.currency }} <a class="btn" href="{% url 'webapp:details' offer.id %}">More details</a><br>
{% endfor %}
{% else %}
There are no sell offers at this time.
{% endif %}
<!--
  <div class="row">
    <div class="col s12 m5">
  <div class="card sticky-action small">
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Offer<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-action"><a class="btn">Sign Contract</a></div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Offer details<i class="material-icons right">close</i></span>
      <p>
          <ul>
            <li>Steel</li>
            <li>10 tonnes</li>
            <li>$15000</li>
            <li>$1500/tonne</li>
            <li>Within 2 weeks</li>
          </ul>
      </p>
    </div>
  </div>
  </div>
  </div>
  -->
{% endblock %}
