{% extends 'base.html' %}

{% block title %}Search{% endblock %}
{% block header %}
    <header>
        <h1 class="header center blue-text">
            Search Offers
        </h1>
        <span class="card-panel grey">
          <span class="white-text">Advanced Mode</span>
        </span>
    </header>
{% endblock %}

{% block content %}
<a href ="{% url 'webapp:searchOffer' %}" class="waves-effect waves-light btn">Switch to Simple Mode</a>
<form method="post">
  <div class="container">
{% csrf_token %}
{{form}}
    <center>
   <button class="btn waves-effect waves-light" type="submit">Search
    <i class="material-icons right">send</i>
  </button>
  </center>
 </div>
</form><br>
{% if noMatch %}
No match found
{% endif %}
{% if offers %}
<table style="width:100%">
<tr>
<th>Name</th>

<th>Type</th>
<th>Buyer</th>
<th>Seller</th>
<th>Details</th>
</tr>
{% for offer in offers %}
	<tr>
	<td>{{ offer.asset_name }} </td> 

	<td>{{offer.contract_type}}</td> 
	<td>{{offer.buyer}}</td> 
	<td>{{offer.seller}}</td> 
	<td><a class="btn" href="{% url 'webapp:details' offer.id %}">More details</a></td> 
	</tr>
{% endfor %}
</table>
{% else %}
{% endif %}
{% endblock %}