.errorlist {
    color: red;
}

.keyword {
    color: blue;
    font-weight: bold;
}

.variable {
    color:red;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.page-footer {
  flex-shrink: 0;
}

.offer {
  border-bottom: 1px solid black;
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 5px;
}

.assetName {
  font-weight: 400;
  color: DarkBlue;
  font-size: 18px;
}

.date {
  font-weight: 300;
  font-size: 14px;
  float: right;
}

.by {
  font-weight: 300;
  font-size: 14px;
}

.price {
  color: DarkRed;
  font-size: 20px;
}

.quantity {
  font-size: 14px;
}

header {
    text-align: center;
}

header > h1 {
    display: inline-block;
}

header > .card-panel {
    position: relative;
    padding: 10px;
    top: -10px;
    margin-left: 10px;
}
