.errorlist {
    color: red;
}

.keyword {
    color: blue;
    font-weight: bold;
}

.variable {
    color:red;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.page-footer {
  flex-shrink: 0;
}

.offer {
  border-bottom: 1px solid black;
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 5px;
}

.assetName {
  font-weight: 400;
  color: DarkBlue;
  font-size: 18px;
}

.date {
  font-weight: 300;
  font-size: 14px;
  float: right;
}

.by {
  font-weight: 300;
  font-size: 14px;
}

.price {
  color: DarkRed;
  font-size: 20px;
}

.quantity {
  font-size: 14px;
}

header {
    text-align: center;
}

header > h1 {
    display: inline-block;
}

header > .card-panel {
    position: relative;
    padding: 10px;
    top: -10px;
    margin-left: 10px;
}


.clause {
  border-bottom: 2px solid red;
  display: inline-block;
  margin: 10px;
}

.expr {
  border-bottom: 2px solid red;
  display: inline-block;
  margin: 5px;
}

.numInput {  
  max-width: 70px;
  margin-bottom: 2px;
  display: inline-block;
}

.draggable {
  display: inline-block;
  margin: 25px;
  border: 1px solid;
  padding: 10px;
  vertical-align: top;
  text-align: center;
  height: 130px;
  width: 370px;
}

.droppable {
  border: 1px dashed;
  min-width: 50px;
  min-height: 30px;
  display: inline-block;
  padding: 4px;
  margin-bottom: 5px;
}

.dropped {
  display: inline-block;
  padding: 4px;
  margin-bottom: 5px;
}

.placeholder {
  color: gray;
  font-size: 15px;
}

.select-and-or{
    display: inline-block;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}
.select-operator {
    display: inline-block;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.select-price-quantity {
    display: inline-block;
    width: 90px;
    margin-left: 10px;
    margin-right: 10px;
}